<%= simple_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.collection_radio :klass, [["LegalPerson", 'Juristische Person'] ,["NaturalPerson", 'Natuerliche Person']], :first, :last %>
  </div>
  <div class="field">
    <%= f.association :addresses %>
  </div>
  <div class="field">
    <%= f.association :accounts%>
  </div>
  </div>
  <div class="field">
    <%= f.association :donations %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
