<%= simple_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %><br />
  </div>
  <div class="field">
    <%= f.collection_radio :klass, [["LegalPerson", 'Juristische Person'] ,["NaturalPerson", 'Natuerliche Person']], :first, :last %>
  </div>
  <div class="field">
    <%= f.input :last_name %>
  </div>
  <div class="field">
    <%= f.input :sex %>
  </div>
  <div class="field">
    <%= f.input :number %>
  </div>
  <div class="field">
    <%= f.input :telephone %>
  </div>
  <div class="field">
    <%= f.input :date_of_joining %>
  </div>
  <div class="field">
    <%= f.input :date_of_birth, :start_year => Date.today.year - 90,
                                :end_year => Date.today.year - 12 %>
  </div>
  <div class="field">
    <%= f.input :nationality %>
  </div>
  <div class="field">
    <%= f.input :email %>
  </div>
  <div class="field">
    <%= f.association :addresses %>
  </div>
  <div class="field">
    <%= f.association :accounts%>
  </div>
  <div class="field">
    <%= f.association :donations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
